{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ flatpage.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
    </head>

    <body>
        <h1 style="display: none;">{{ flatpage.title }}</h1>
        <div class="wrapper block">
            <header>
                <span class="phone">
                    Тел. (351) 776-22-07
                </span>
            </header>
            <div class="content block">
                <div class="content__main">
                    <div class="content-main__menu">
                        <ul class="left__menu">
                            {% for section in sections %}
                            <li>
                                <a href="{{ section.slug }}" class="left-menu__text">{{ section.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <section>

                        {{ flatpage.content }}

                    </section>
                </div>
            </div>
            <div class="footer">
                <div class="footer__text">
                    <div>Общество с ограниченной ответственностью</div>
                    <a href="mailto: chelgradirni@mail.ru" class="firm-label">
                        <img src="{% static 'core/images/label.png' %}" alt="ООО Алдан. Email: chelgradirni@mail.ru">
                        <span>Алдан</span>
                    </a>
                    <div class="email">email: chelgradirni@mail.ru</div>
                </div>

                <div style="display: none;" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">ООО Алдан</span>
                  Контакты:
                  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    Адрес:
                    <span itemprop="streetAddress">ул.Братьев Кашириных, д.87А, оф.53</span>
                    <span itemprop="postalCode">454016</span>
                    <span itemprop="addressLocality">Челябинск</span>,
                  </div>
                  Телефон:<span itemprop="telephone">+7 351 776-22-07</span>,
                  Электронная почта: <span itemprop="email">chelgradirni@mail.ru</span>
                </div>

            </div>
        </div>
    </body>
</html>